<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">{{ "Qui suis-je" | uppercase }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">{{ "La consultation" | uppercase }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">{{ "Contactez-moi" | uppercase }}</a>
  </li>
</ul>
<router-outlet></router-outlet>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">© 2024 Antoinette Charrier | Astrologue All Rights Reserved.</a>
  </div>
</nav>
